### LAB Item 1

1. Run weather regression from 1/1/2012 --> 8/1/2019 to Natural Gas Consumption

    https://www.eia.gov/dnav/ng/ng_cons_sum_dcu_nus_m.htm
    
2. Using SkLearn, regress to sum of: U.S. Natural Gas Residential Consumption (MMcf) + Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)

3. What is R^2 ?

4. Estimate October 2019!

In [13]:
#1
import numpy
import pandas
import sklearn
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

import plotly
#import chart_studio.plotly as py
# import cufflinks

import plotly.graph_objects as go
#from chart_studio.plotly import plot, iplot

In [8]:
temp_df = pandas.read_excel('weather-natgas.xlsx', sheet_name='Weather')
ng_df = pandas.read_excel('weather-natgas.xlsx', sheet_name='NatGas')

In [9]:
temp_df.head(3)

    themonth        hdd       cdd  temp_natl
0 2017-01-01  23.648603  0.313590  41.664987
1 2017-02-01  18.392368  0.537725  47.145357
2 2017-03-01  16.762865  0.893394  49.130529

In [10]:
ng_df.head(3)

,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
0,2017-01-01,2916275,126894,78772,2710609,830726,479354,734762,6145,659623
1,2017-02-01,2341960,116217,62855,2162888,579341,359423,650301,5042,568781
2,2017-03-01,2524803,131579,67584,2325640,579810,371651,696846,5156,672176

In [11]:
temp_df['themonth'] = pandas.to_datetime(temp_df['themonth'])
ng_df['Date'] = pandas.to_datetime(ng_df['Date'])

In [12]:
m_df = temp_df.merge(ng_df, left_on=['themonth'], right_on=['Date'])
m_df['ones'] = 1
m_df.tail()

,themonth,hdd,cdd,temp_natl,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf),ones
27,2019-04-01,8.673257,1.523303,57.850047,2019-04-01,2201582,149778,63166,1988639,327642,248512,672132,4489,735863,1
28,2019-05-01,4.221135,4.262452,65.041316,2019-05-01,2121523,154091,60869,1906564,211616,185746,673190,4639,831373,1
29,2019-06-01,0.668620,7.894777,72.226157,2019-06-01,2115736,151035,60703,1903999,128761,144783,632673,4489,993293,1
30,2019-07-01,0.041155,12.464210,77.423055,2019-07-01,2408122,156039,69091,2182991,113482,143987,647345,4639,1273538,1
31,2019-08-01,0.081061,11.162419,76.081358,2019-08-01,2430780,159871,69741,2201168,101598,142116,664326,4639,1288489,1

In [107]:
m_df['rescomm'] = m_df['Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)'] + m_df['U.S. Natural Gas Residential Consumption (MMcf)']
m_df.head(3)

,themonth,hdd,cdd,temp_natl,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf),ones,rescomm
0,2017-01-01,23.648603,0.313590,41.664987,2017-01-01,2916275,126894,78772,2710609,830726,479354,734762,6145,659623,1,1310080
1,2017-02-01,18.392368,0.537725,47.145357,2017-02-01,2341960,116217,62855,2162888,579341,359423,650301,5042,568781,1,938764
2,2017-03-01,16.762865,0.893394,49.130529,2017-03-01,2524803,131579,67584,2325640,579810,371651,696846,5156,672176,1,951461

In [108]:
x = m_df.drop('rescomm', axis=1)
y = m_df['rescomm']

In [14]:
# reg = LinearRegression().fit(m_df[['temp_natl']], m_df[['U.S. Natural Gas Residential Consumption (MMcf)']])
# reg_pred = reg.predict(m_df[['temp_natl']])
# reg.score(m_df[['temp_natl']], m_df[['U.S. Natural Gas Residential Consumption (MMcf)']])

0.9402280087527911

In [110]:
reg = LinearRegression().fit(m_df[['temp_natl']], y)
reg_pred = reg.predict(m_df[['temp_natl']])
reg.score(m_df[['temp_natl']], y)

0.9423994988358022

In [117]:
# m_df.(temp_natl)(m_df['themonth'].dt.month == 10)
# tmp_value =

SyntaxError: invalid syntax (<ipython-input-117-916d98defa7e>, line 1)

In [124]:
# reg.predict(m_df['themonth'].dt.month == 10)
# We can put the value directly

pr = reg.predict([[59.718855]])

In [129]:
print("The Prediction for October 2019 is :",pr[0].round(3))

The Prediction for October 2019 is : 649106.595

In [130]:
# m_df.dtypes

## Q3 R^2 is also called as coefficient of determination, is the proportion of the variance in the dependent variable that is predictable from the independent variable.

### LAB Item 2

1. Run the same calculation as LAB1 using the python statsmodels package

import statsmodels.api as sm

mod = sm.OLS(Y, X)

res = mod.fit()

In [102]:
import statsmodels.api as sm
import statsmodels
statsmodels.__version__

'0.11.1'

In [101]:
# !pip install statsmodels

In [137]:
m_df['ones'] = 1

In [140]:
model = sm.OLS(y, m_df[['temp_natl', 'ones']])
results = model.fit()
results.params

temp_natl   -3.068242e+04
ones         2.481425e+06
dtype: float64

In [141]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                rescomm   R-squared:                       0.942
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     490.8
Date:                Mon, 12 Oct 2020   Prob (F-statistic):           3.79e-20
Time:                        22:04:15   Log-Likelihood:                -415.32
No. Observations:                  32   AIC:                             834.6
Df Residuals:                      30   BIC:                             837.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
temp_natl  -3.068e+04   1384.920    -22.155      0.000   -3.35e+04   -2.79e+04
ones        2.481e+06   8.36e+04     29.695      0.000    2.31e+06    2.65e+06
==============================================================================
Omnibus:                        2.699   Durbin-Watson:                   1.215
Prob(Omnibus):                  0.259   Jarque-Bera (JB):                1.330
Skew:                           0.002   Prob(JB):                        0.514
Kurtosis:                       2.001   Cond. No.                         264.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [133]:
# m_df['rescomm'] = m_df['Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)'] + m_df['U.S. Natural Gas Residential Consumption (MMcf)']
# m_df.tail()

### LAB Item 3

Return to previous dataset: Adult income
https://www.kaggle.com/wenruliu/adult-income-dataset

Build a logistic Regression targeting income above / below 50k...

Review Example.

In [26]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [1]:
df_adult = pd.read_csv('adult.csv')
df_adult.head(4)

NameError: name 'pd' is not defined

In [23]:
for column in df_adult.columns:
    if df_adult[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df_adult[column] = le.fit_transform(df_adult[column])

In [24]:
df_adult['income'].unique()

array([0, 1], dtype=int64)

In [30]:
x = df_adult.drop('income',axis=1)
y = df_adult['income']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [34]:
clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)
clf.predict(X_train)

array([0, 0, 0, ..., 0, 0, 1])

In [35]:
clf.score(X_test, y_test)

0.7949389894357547

### LAB Item 4: Let's take a look at the sklearn California housing dataset from a few weeks ago

... A)  review a multivariate regression

... B) Compare the results from the multivariate linear regression to a random forest by building a RF.  You've built a random forest on this dataset before.

In [36]:
from sklearn import linear_model

In [37]:
housing = pd.read_csv("housing.csv")
housing.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY

In [78]:
housing = housing.dropna()

In [79]:
for column in housing.columns:
    if housing[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        housing[column] = le.fit_transform(housing[column])

In [80]:
housing.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity         int32
dtype: object

In [81]:
x = housing.drop('median_income',axis=1)
y = housing['median_income']

In [82]:
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [83]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [86]:
# model for future prediction
y_pred = lin_reg.predict(X_test)
y_pred

array([4.67027381, 2.16295471, 2.93441463, ..., 7.33598729, 2.66590762,
       2.62073529])

In [98]:
lin_reg.score(X_test, y_test)
print("The Accuracy of Multivariate Regressor is",lin_reg.score(X_test, y_test)*100,"%")

The Accuracy of Multivariate Regressor is 65.64563634372973 %

In [90]:
res = lin_reg.predict(X_test)
mserror = sklearn.metrics.mean_absolute_error(res, y_test)
print("The mean Absolute Error for Multivariate regressor is",mserror)

The mean Absolute Error for Multivariate regressor is 0.7730863416831459

## Now Building RF

In [92]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [93]:
rf.score(X_test, y_test)

0.7774768032356091

In [100]:
mserror_rf = sklearn.metrics.mean_absolute_error(res, y_test)
print("The mean Absolute Error for Random Forest is",mserror*100,"%")

The mean Absolute Error for Random Forest is 77.3086341683146 %

According to the Score the Random Forest Regressor fits the model Better than the Multivariate Regressor