## HW7:  Statistical Fundamentals 
### Assigned: 9/28
### Due: 10/5

In [1]:
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

1. In the Week 7 Statistics class we used the example of political polling and the need for random sampling to avoid bias. 

#### How can we introduce error if we do not sufficiently randomize our sampling?

In [ ]:
We can introduce error in our dataset and know that our data is sufficiently randomized by checking the results.
If the data set is not correctly randomized it will have bias towards any particular entity.
And if the dataset have bias it will give us results in the favour of bias entity, resulting in wrong predictions. 
For eg: Political Polling
    If the dataset of knowing the future president contains all the information about the voters.
    and if there is a entity which strongly focuses any particular candidate then it creates bias of that entity.
    and if this data is not sufficiently randomised then the bias will create issues with the predicitions resulting in wrong predicitions.

2. What is the difference between variance and standard deviation ?

In [ ]:
The Standard Deviation is the measure of how spread out the numbers are from the mean.
Its symbol is "σ" (the greek letter sigma)

The variance measures the average degree to which each point differs from the mean—the average of all data points.
Also, Variance is the average of the squared differences from the Mean.

The formula for Standard Deviation and Variance is:

#### Sample variance: $ s^2 = \frac{\sum_{i=1}^n (x_i - \bar{x})^2}{n - 1}$ 

   ...As in _just the sample_
    
 

#### Standard deviation = $\sqrt{\text{Variance}}$

3. Load the sklearn California housing dataset into a DataFrame.  Don't forget to get the target column as well.

#### https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

In [3]:
from sklearn.datasets.california_housing import fetch_california_housing

C:\Users\HP\AppData\Local\conda\conda\envs\tf2\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.datasets.california_housing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [4]:
db = fetch_california_housing()

In [5]:
df = pd.DataFrame(db.data, columns=db.feature_names) #Getting data into pandas dataframe

In [6]:
db

{'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block\n        - HouseAge      median house age in block\n        - AveRooms      average number of rooms\n        - AveBedrms     average number of bedrooms\n        - Population    block population\n        - AveOccup      average house occupancy\n        - Latitude      house block latitude\n        - Longitude     house block longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttp://lib.stat.cmu.edu/datasets/\n\nThe target variable is the median house value for California districts.\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n',
 'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])}

In [7]:
df_target = pd.DataFrame(db.target) #Getting target vales in pandas dataframe
df_target.head(3)

       0
0  4.526
1  3.585
2  3.521

In [8]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [9]:
df.dtypes

MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
dtype: object

In [10]:
df.MedInc.var()

3.6093225599765124

4. Calculate the Variance and Standard Deviation of each column using the pandas functions.

In [11]:
#Calculating Standard Deviation for all columns
for columns in df.columns:
    print("Standard Deviation for column", columns, "is", df[columns].std().round(3))

Standard Deviation for column MedInc is 1.9
Standard Deviation for column HouseAge is 12.586
Standard Deviation for column AveRooms is 2.474
Standard Deviation for column AveBedrms is 0.474
Standard Deviation for column Population is 1132.462
Standard Deviation for column AveOccup is 10.386
Standard Deviation for column Latitude is 2.136
Standard Deviation for column Longitude is 2.004

In [12]:
#Calculating Variance for all columns
for columns in df.columns:
    print("Variance for column", columns, "is", df[columns].var().round(3))

Variance for column MedInc is 3.609
Variance for column HouseAge is 158.396
Variance for column AveRooms is 6.122
Variance for column AveBedrms is 0.225
Variance for column Population is 1282470.457
Variance for column AveOccup is 107.87
Variance for column Latitude is 4.562
Variance for column Longitude is 4.014

In [13]:
#Calculating Standard Deviation and Variance of Target
print("The Standard Deviation of The Column Target is", df_target[0].std().round(3))
print("The Variance of The Column Target is", df_target[0].var().round(3))

The Standard Deviation of The Column Target is 1.154
The Variance of The Column Target is 1.332

5. Create a correlation matrix for the columns (including the target column, or median house value).
#### Which feature has the highest correlation to the target?

In [14]:
df.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000

In [15]:
df_target.corr()

     0
0  1.0

In [22]:
# df_2 = df.add(df_target[0])

In [ ]:
# df_2.corr()

In [ ]:
# df_new = df

In [17]:
df['target'] = df_target[0] #Adding target values to the dataframe

In [18]:
df.corr() #Getting Correlation for all columns including target

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
target,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000

In [21]:
The Feature MedInc has the highest Correlation with the target (median house value) with a value of 0.688075