#  Homework #1
 Work to be done in this Jupyter Notebook and .pynb file turned in.   
 For full credit, all work must be shown.  
 Helpful Pandas Documentation: https://pandas.pydata.org/pandas-docs/stable/

### 1. Download Kaggle Titanic Data
https://www.kaggle.com/c/titanic/data

In [1]:
!kaggle competitions download -c titanic

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
from zipfile import *

with ZipFile('titanic.zip' , 'r') as zip:
    zip.extractall()

### 2. Create a Pandas DataFrame from the train.csv file

In [6]:
import pandas as pd

# Creating pandas dataframe name dataframe
dataFrame = pd.read_csv('train.csv')
print(dataFrame.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### 3. How many rows are in the DataFrame ?

In [8]:
print("Rows per column in the Dataframe is :\n")
print(dataFrame.count())

Rows per column in the Dataframe is :

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

### 4. Using pandas, determine the min, max, median, and mean age of passengers in the training dataset?

In [10]:
# Printing the Minimum age of passangers
print("The Minimum Age of Passangers is :",dataFrame.Age.min())

The Minimum Age of Passangers is : 0.42

In [11]:
# Printing the Maximum Age of Passangers
print("The Maximum Age of Passangers is :",dataFrame.Age.max())

The Maximum Age of Passangers is : 80.0

In [12]:
# Printing the Median Age of Passangers
print("The Median Age of Passangers is :",dataFrame.Age.median())

The Median Age of Passangers is : 28.0

In [15]:
# Printing the Mean Age of Passangers
print("The Mean Age of Passangers is:",dataFrame.Age.mean().round())

The Mean Age of Passangers is: 30.0

### 5. Using pandas, determine the average age and fare paid for males?  Females?

In [16]:
# m_age = (dataFrame.Age.mean() if dataFrame.Sex == 'male')
m_age = dataFrame.groupby('Sex').mean().reset_index()
# print(m_age)

#average age of males
print("The Avergae Age of Male Passanger is ",m_age.Age[1].round())

#average fare paid by males
print("The Average Fare Paid by Male Passenger is ",m_age.Fare[1].round())


#average age of females
print("\n\nThe Average Age of Female Passanger is ",m_age.Age[0].round())

#average fare paid by females
print("The Average Fare paid by Female Passanger is ",m_age.Fare[0].round())

The Avergae Age of Male Passanger is  31.0
The Average Fare Paid by Male Passenger is  26.0


The Average Age of Female Passanger is  28.0
The Average Fare paid by Female Passanger is  44.0

### 6. Who was more likely to have survived the disaster, a male or female passenger?

In [22]:
# Finding the more likley survived gender
survival = dataFrame.groupby('Sex').sum().reset_index()
survival = survival['Survived']
# print(survival)
# Comparision of the survival addition of male and female and printing out the Gender
if survival[0] < survival[1]:
    print("Male Passanger were more likely to be survived in the disaster")
else:
    print("Female Passanger were more likely to be survived in the disaster")

Female Passanger were more likely to be survived in the disaster