In [1]:
import numpy as np
import pandas as pd

In [2]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({
'A':[1,2,3,4],
'B':[True,False,True,True],
'C':['C1','C2','C3','C4']
})
df2 = pd.DataFrame({
'A':[5,7,8,5],
'B':[False,False,True,False],
'C':['C1','C3','C5','C8']
})

In [4]:
pd.concat([df1,df2])

   A      B   C
0  1   True  C1
1  2  False  C2
2  3   True  C3
3  4   True  C4
0  5  False  C1
1  7  False  C3
2  8   True  C5
3  5  False  C8

In [12]:
df1.merge(df2, on='A', how='left')

   A    B_x C_x  B_y  C_y
0  1   True  C1  NaN  NaN
1  2  False  C2  NaN  NaN
2  3   True  C3  NaN  NaN
3  4   True  C4  NaN  NaN