In [1]:
import postgresql

In [2]:
# we get pythonlist from the db fetch
import pandas as pd

df = pd.read_csv('adult.csv')

In [8]:
df['age'].mean().round()

39.0

In [10]:
df.tail()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [11]:
df.index

RangeIndex(start=0, stop=32561, step=1)

In [12]:
df.index.values

array([    0,     1,     2, ..., 32558, 32559, 32560], dtype=int64)

In [ ]:
# df.set_index['date']
# df.['close'].resample('W') #used for standard deviation
# Pickle = offline version of dataframe